<header class="page-header">
  <h1 class="text-center">Resumé</h1>
</header>

<div id="resume-wrapper">
  <section>

    <h2>Experience</h2>

    <%= resume_block do %>
      <%= left_column("Renew Financial",
                      "Software Engineer",
                      "Portland, OR",
                      "February 2017 – Present") %>

      <%= right_column do %>
        <%= job_title("Software Engineer") %>

        <%= position_highlights do %>
          <%= bullet_point do %>
            Guided technical direction as Tech Lead for a 7-person Scrum team
          <% end %>

          <%= bullet_point do %>
            Daily full-stack contributor to a large microservice-oriented Ruby on Rails application transitioning over to a React/Redux front end
          <% end %>

          <%= bullet_point do %>
            Redesigned and replaced a Java microservice with Ruby, removing a key dependency from our application
          <% end %>
        <% end %>

      <% end %>
    <% end %>

    <%= resume_block do %>
      <%= left_column("RUMBLEFISH",
                      "Software Engineer",
                      "Portland, OR",
                      "October 2015 – February 2017") %>

      <%= right_column do %>
        <%= job_title("Software Engineer") %>

        <%= position_highlights do %>
          <%= bullet_point do %>
            Lead a small team of engineers over a 12 month period that designed and implemented a massively scalable Ruby application for processing music royalties
          <% end %>

          <%= bullet_point do %>
            Our solution outperformed the Java program it replaced by a factor of 20 (royalties processed per minute) while reducing 'false positive' royalty payments from 10% to 1%
          <% end %>

          <%= bullet_point do %>
            Worked extensively with Ruby, RabbitMQ, Capistrano, Amazon CloudSearch, and AWS servers and infrastructure
          <% end %>
        <% end %>

      <% end %>
    <% end %>

    <%= resume_block do %>
      <%= left_column("KINDMIND",
                      "Founder & Developer",
                      "Portland, OR",
                      "2014 – Present") %>

      <%= right_column do %>
        <%= job_title("Founder & Full Stack Developer") %>

        <%= position_highlights do %>
          <%= bullet_point do %>
            <%= link_to "KindMind", "http://www.kindmind.com", target: "_blank" %> is a delightfully simple online journal focusing on the mental health and wellness benefits of journaling.
          <% end %>

          <%= bullet_point do %>
            Implemented all aspects of design, testing, site functionality, and iterative improvement
          <% end %>

          <%= bullet_point do %>
            Currently moving the front end to React backed by Redux
          <% end %>

          <%= bullet_point do %>
            Developed full stack Ruby on Rails code base
          <% end %>
        <% end %>

      <% end %>
    <% end %>

    <%= resume_block do %>
      <%= left_column("MINDBODY",
                      "QA Software Test Engineer & Scrum Master",
                      "San Luis Obispo, CA",
                      "Jun 2013 - Mar 2015") %>

      <%= right_column do %>
        <%= job_title("QA Software Test Engineer & Scrum Master") %>

        <%= position_highlights do %>

          <%= bullet_point do %>
            Designed and implemented three web browser automation frameworks in C# and Ruby capable of reducing eight hours of manual QA testing to 10 minutes
          <% end %>

          <%= bullet_point do %>
            Introduced automated testing to the MINDBODY Merchant Account Processing team ensuring over $1 billion in annual credit card transactions were accurately processed
          <% end %>

          <%= bullet_point do %>
            Led two Scrum teams and 16 professionals during the largest product redesign in MINDBODY's history over a six month period
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <%= resume_block do %>
      <%= left_column("MINDBODY",
                      "QA Software Test Technician",
                      "San Luis Obispo, CA",
                      "Jun 2011 - Jun 2013") %>

      <%= right_column do %>
        <%= job_title("QA Software Test Technician") %>

        <%= position_highlights do %>

          <%= bullet_point do %>
            Wrote test cases and manually tested software features toward the goal of delivering bug-free features to 40,000 clients
          <% end %>

          <%= bullet_point do %>
            #1 in the 29-person QA department for average number of software defects found and logged each month
          <% end %>

          <%= bullet_point do %>
            #1 in the company out of 1,000+ employees for total number of software defects found and logged in the tracking system, 1,567 defects in total
          <% end %>

        <% end %>
      <% end %>
    <% end %>

  </section>

  <hr>

  <section>
    <h2>Education</h2>

    <%= resume_block do %>
      <%= left_column("Epicodus",
                      "Software Development Trade School, Graduate",
                      "Portland, OR", "Apr 2015 — Sept 2015") %>

      <%= right_column do %>
        <%= job_title("Software Development Trade School, Graduate") %>

        <%= position_highlights do %>
          <%= bullet_point do %>
            Epicodus helped me transition from QA Engineer to Software Engineer. While there, I spent eight hours a day for around 18 weeks learning some of the web's latest frameworks, technologies, and practices
          <% end %>
        <% end %>

      <% end %>
    <% end %>

    <%= resume_block do %>
      <%= left_column("Cal Poly State University",
                      "B.S. Business Administration",
                      "San Luis Obispo, CA",
                      "2007 – 2009") %>

      <%= right_column do %>
        <%= job_title("B.S. Business Administration") %>

        <%= position_highlights do %>
          <%= bullet_point do %>
            Concentration: Entrepreneurship & Business Management
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </section>

  <hr>

  <section>
    <h2>Additional Experience</h2>

    <ul>
      <li>
        <strong>
          Founder and President of Cal Poly Speakers, 2008:
        </strong>
        Cal Poly's first Toastmasters club in the university's history. I took a vision and turned it into a thriving club with six officers and over 20 club members. Cal Poly Speakers was active on campus for five years and helped hundreds of students become better leaders and communicators
      </li>
      <li>
        <strong>
          Toastmasters Area E1 Governor, 2010 – 2011:
        </strong>
        managed five clubs, 25 club officers, and over 100 club members across San Luis Obispo county
      </li>
      <li>
        <strong>
          Toastmasters Competent Communicator, 2011:
        </strong>
        awarded for delivering 10 planned speeches, signifying competence with public speaking fundamentals
      </li>
      <li>
        <strong>
          Toastmasters Competent Leader, 2012:
        </strong>
        awarded for completing 10 leadership projects
      </li>
    </ul>
  </section>

  <hr>

  <section>
    <h2>Favorite Technologies</h2>

    Ruby, Rails, React, Redux, RSpec, PostGres
  </section>
</div>
