<header class="page-header">
  <h1 class="text-center">Resumé</h1>
</header>

<div id="resume-wrapper">
  <section>

    <h2>Experience</h2>

    <%= resume_block do %>
      <%= left_column("RUMBLEFISH",
                      "Software Engineer",
                      "Portland, OR",
                      "October 2015 – Present") %>

      <%= right_column do %>
        <%= job_title("Software Engineer") %>

        <%= position_highlights do %>
          <%= bullet_point do %>
            As a Software Engineer at RumbleFish, I work on a codebase that helps musicians license and share their music on the web
          <% end %>

          <%= bullet_point do %>
            Worked extensively with Ruby, XML parsing and transformation, and publish/subscribe messaging via RabbitMQ
          <% end %>

          <%= bullet_point do %>
            Practiced test driven development toward continuous integration
          <% end %>
        <% end %>

      <% end %>
    <% end %>

    <%= resume_block do %>
      <%= left_column("KINDMIND",
                      "Founder & Developer",
                      "Portland, OR",
                      "2014 – Present") %>

      <%= right_column do %>
        <%= job_title("Founder & Full Stack Developer") %>

        <%= position_highlights do %>
          <%= bullet_point do %>
            <%= link_to "KindMind", "http://www.kindmind.com", target: "_blank" %> brings leading mental health tools to the web toward achieving its mission: <i>u​sing technology to improve the mental health and wellness of the world</i>
          <% end %>

          <%= bullet_point do %>
            Implemented all aspects of site functionality: landing page, site tours, user authentication, and innovative tools used for journaling and examining
      thought patterns
          <% end %>

          <%= bullet_point do %>
            Launched sister product, <%= link_to "KindJournal", "http://www.kindjournal.com", target: "_blank" %>, in early 2016. KindJournal is an online journaling app that focuses on <i>expressive writing</i> as a form of therapy
          <% end %>

          <%= bullet_point do %>
            Developed full stack Ruby on Rails code base
          <% end %>
        <% end %>

      <% end %>
    <% end %>

    <%= resume_block do %>
      <%= left_column("MINDBODY",
                      "QA Software Test Engineer & Scrum Master",
                      "San Luis Obispo, CA",
                      "Jun 2013 - Mar 2015") %>

      <%= right_column do %>
        <%= job_title("QA Software Test Engineer & Scrum Master") %>

        <%= position_highlights do %>

          <%= bullet_point do %>
            Designed, developed, and implemented three web browser automation frameworks in C# and Ruby that reduced manual QA test times by
            a factor of 40 while improving overall test consistency
          <% end %>

          <%= bullet_point do %>
            Introduced automated testing to the MINDBODY Merchant Account Processing development team ensuring over $1 billion in annual credit card transactions were processed accurately
          <% end %>

          <%= bullet_point do %>
            As Scrum Master, lead two Scrum teams and 16 professionals toward agile development practices, planned and facilitated team meetings, served as the voice of the team to management
          <% end %>

          <%= bullet_point do %>
            Served as Scrum Master for the most significant product redesign in the company’s history over a six month period
          <% end %>

        <% end %>
      <% end %>
    <% end %>

    <%= resume_block do %>
      <%= left_column("MINDBODY",
                      "QA Software Test Technician",
                      "San Luis Obispo, CA",
                      "Jun 2011 - Jun 2013") %>

      <%= right_column do %>
        <%= job_title("QA Software Test Technician") %>

        <%= position_highlights do %>

          <%= bullet_point do %>
            Wrote test cases and manually tested software features toward the goal of delivering bug-free features to 40,000 clients
          <% end %>

          <%= bullet_point do %>
            #1 in the 29-person QA department for average number of software defects found and logged each month
          <% end %>

          <%= bullet_point do %>
            #1 in the company out of 1,000+ employees for total number of software found and logged in the tracking system at 1,567
          <% end %>

        <% end %>
      <% end %>
    <% end %>

    <%= resume_block do %>
      <%= left_column("Target",
                      "Front End Team Leader",
                      "San Luis Obispo, CA",
                      "Jan 2011 – Jun 2011)") %>

      <%= right_column do %>
        <%= job_title("Front End Team Leader") %>

        <%= position_highlights do %>

          <%= bullet_point do %>
            Managed 50 team members, two supervisors, and four departments in a store producing $30 million in annual revenue
          <% end %>

          <%= bullet_point do %>
            Promoted a 'fast and friendly' culture to best serve our guests and a positive, upbeat work environment for team members
          <% end %>

          <%= bullet_point do %>
            Interviewed and trained new hires
          <% end %>

        <% end %>
      <% end %>
    <% end %>

    <%= resume_block do %>
      <%= left_column("Target",
                      "Assets Protection Leader",
                      "San Luis Obispo, CA",
                      "2010 – 2011") %>

      <%= right_column do %>
        <%= job_title("Assets Protection Leader") %>

        <%= position_highlights do %>

          <%= bullet_point do %>
            Lead all asset-protection/loss-prevention activities in a 240-person store toward minimizing company losses
          <% end %>

          <%= bullet_point do %>
            Ran weekly team 'huddles' to motivate and educate store team members about minimizing company losses, primarily through theft prevention
          <% end %>

          <%= bullet_point do %>
            Managed a complex network of 60 cameras and camera server infastructure
          <% end %>

        <% end %>
      <% end %>
    <% end %>

  </section>

  <hr>

  <section>
    <h2>Education</h2>

    <%= resume_block do %>
      <%= left_column("Epicodus",
                      "Software Development Trade School, Graduate",
                      "Portland, OR", "Apr 2015 — Sept 2015") %>

      <%= right_column do %>
        <%= job_title("Software Development Trade School, Graduate") %>

        <%= position_highlights do %>
          <%= bullet_point do %>
            At Epicodus, I spent eight hours a day for 18 weeks learning some of the web's latest frameworks, technologies, and practices
          <% end %>
        <% end %>

      <% end %>
    <% end %>

    <%= resume_block do %>
      <%= left_column("Cal Poly State University",
                      "B.S. Business Administration",
                      "San Luis Obispo, CA",
                      "2007 – 2009") %>

      <%= right_column do %>
        <%= job_title("B.S. Business Administration") %>

        <%= position_highlights do %>
          <%= bullet_point do %>
            Concentration: Entrepreneurship & Business Management
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </section>

  <hr>

  <section>
    <h2>Additional Experience</h2>

    <ul>
      <li>
        <strong>
          Founder and President of Cal Poly Speakers, 2008:
        </strong>
        Cal Poly's first Toastmasters club in the university's history. I took a vision and turned it into a thriving club with six officers and over 20 club members. Cal Poly Speakers was active on campus for five years and helped hundreds of students become better leaders and communicators
      </li>
      <li>
        <strong>
          Toastmasters Area E1 Governor, 2010 – 2011:
        </strong>
        managed five clubs, 25 club officers, and over 100 club members across San Luis Obispo county
      </li>
      <li>
        <strong>
          Toastmasters Competent Communicator, 2011:
        </strong>
        awarded for delivering 10 planned speeches, signifying competence with public speaking fundamentals
      </li>
      <li>
        <strong>
          Toastmasters Competent Leader, 2012:
        </strong>
        awarded for completing 10 leadership projects
      </li>
    </ul>
  </section>

  <hr>

  <section>
    <h2>Languages and Technologies</h2>

    Ruby, Rails, RSpec, Javascript & jQuery, PostGres, SQL, Active Record, Git, Selenium, Capybara, Cucumber, HTML, CSS
  </section>
</div>
