<li id="comment_<%= comment.id %>">
  <p>
    <small>
        <%= comment.author %>:
        <span class="pull-right">
          <%= comment.created_at.strftime("%b %y, %Y") %>
        </span>
    </small>
  </p>

  <%= comment.text %>

  <% if admin? %>
    <p class="clearfix">
      <small class="edit-delete-wrapper pull-right">
        <%= link_to "Delete comment", blog_comment_path(@blog, comment), :data => {confirm: "Sure you want to delete this?", method: "delete", remote: true }, class: "text-danger" %>
      </small>
    </p>
  <% end %>
</li>
