<header class="page-header">
  <h1 class="page-heading text-center">
    <%= @blog.title %>
  </h1>
</header>

<div class="post-wrapper">
  <%= simple_format(@content) %>
</div>

<h4>
  <span id="comment-count">
    <%= @comments.size %>
  </span> Comments
  <span id="add-new-comment" class="linkify pull-right">Add Comment</span>
</h4>

<div class="comment-form-wrapper">
  <%= render "comments/form", comment: Comment.new %>
</div>

<div class="blog-comments-wrapper">
  <ul id="comments-list">
    <% @comments.each do |comment| %>
      <%= render 'comments/comment', comment: comment %>
    <% end %>
  </ul>
</div>

<% if admin? %>
  <footer>
    <span class="pull-right edit-delete-links">
      <%= link_to "Edit post", edit_blog_path(@blog) %> |
      <%= link_to "Delete post", @blog, class:"text-danger", method: :delete %>
    <span>
  </footer>
<% end %>
