<header class="page-header">
  <h1 class="page-heading text-center">
    <%= @blog.title %>
  </h1>
</header>

<div class="post-wrapper">
  <%= simple_format(@content) %>
</div>

<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'garedean';

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

<!-- <h4>Comments (<%= @comments.size %>)</h4>

<%= bootstrap_form_for [@blog, @comment] do |f| %>

  <%= f.text_field :author, hide_label: true, placeholder: "First name" %>

  <%= f.text_area :text, hide_label: true, placeholder: "Comment" %>

  <%= recaptcha_tags %>

  <%= f.submit "Add", class: "add-after-recaptcha btn btn-primary" %>

<% end %>

<div class="blog-comments-wrapper">
  <ul>
    <% @comments.each do |comment| %>
      <li>
        <small>
            <%= comment.author %>:
            <span class="pull-right">
              <%= comment.created_at.strftime("%b %y, %Y") %>
            </span>
        </small>

        <%= comment.text %>

        <% if admin? %>
          <p class="clearfix">
            <small class="edit-delete-wrapper pull-right">
              <%= link_to "Delete comment", blog_comment_path(@blog, comment), :data => {confirm: "Sure you want to delete this?", method: "delete"}, class: "text-danger" %>
            </small>
          </p>
        <% end %>

      </li>
    <% end %>
  </ul>
</div> -->

<% if admin? %>
  <footer>
    <span class="pull-right edit-delete-links">
      <%= link_to "Edit post", edit_blog_path(@blog) %> |
      <%= link_to "Delete post", @blog, class:"text-danger", method: :delete %>
    <span>
  </footer>
<% end %>
