<% content_for :custom_styles do %>
  <% if admin? %>
    .project-list li:hover {
      background: #fafafa;
      cursor: default;
    }
  <% end %>
<% end %>

<header class="page-header">
  <h1 class="text-center">Portfolio</h1>
</header>

<section class="references-wrapper">
  <span class="linkify toggle-references show-references">View my references</span>
  <span class="linkify toggle-references hide-references">Hide my references</span>

  <ul class="references">
    <p>
      Bill Haymond: Garrett is a fantastic employee...
    </p>

    <p>
      Jimmy Dean: Garrett. So great. So hot right now.
    </p
  </ul>

</section>

<hr>

<ul class="project-list">

  <% @projects.each do |project| %>
    <li>
      <p>
        <%= link_to "#{project.name}:", "https://#{project.url}", target: "_blank" %>
        <%= project.description %>
      </p>

      <% if admin? %>
        <p class="clearfix">
          <span class="edit-delete-wrapper pull-right">
            <%= link_to "Edit", edit_project_path(project) %>
            |
            <%= link_to "Delete", project_path(project), :data => {confirm: "Sure you want to delete this?", method: "delete"}, class: "text-danger" %>
          <span>
        </p>
      <% end %>
    </li>
  <% end %>
</ul>

<% if admin? %>
  <footer>
    <%= link_to new_project_path, class: "add pull-right" do %>
      <span class="glyphicon glyphicon-plus"></span>
    <% end %>
  </footer>
<% end %>
