<% content_for :custom_styles do %>
  <% if admin? %>
    .project-list li:hover {
      background: #fafafa;
      cursor: default;
    }
  <% end %>
<% end %>

<header class="page-header">
  <h1 class="text-center">Work</h1>
</header>

<div id="project-tiles-wrapper">
  <% @projects.each do |project| %>
    <div class="row">
      <div class="col-md-8 project-screenshot">
        <%= link_to project.url, target: "_blank" do %>
          <%= image_tag(project.screenshot_name) %>
        <% end %>
      </div>
      <div class="col-md-4 project-details">
        <h4>
          <%= link_to project.name, project.url %>
        </h4>
        <p>
          <%= project.description %>
        </p>
      </div>
    </div>

    <% unless @projects.last == project %>
      <hr>
    <% end %>
  <% end %>
</div>



<% if admin? %>
  <footer>
    <span class="pull-right footer-links">
      <%= admin_link_to "Add / Edit", edit_multiple_projects_path %>
    </span>
  </footer>
<% end %>
