<header class="page-header">
  <h1 class="page-heading text-center">
    References
  </h1>
</header>

<p class="text-justify">Below is feedback I've received from previous project managers, software engineers, and QA professionals I've worked with. These were submitted <i>anonymously</i> during annual 360 performance reviews.</p>

<div id="endorsements-list">

    <% @endorsements.each_with_index do |endorsement, index| %>
      <div class="row clearfix">
        <div class="endorsement col-md-8 ">
          <%= endorsement.quote %>
        </div>
      </div>

      <% if false %>
        <li id="endorsement_<%= endorsement.id %>">
          <%= endorsement.quote %>
        </li>
      <% end %>
    <% end %>

</div>

<% if false %>
<ul class="endorsements-list">
  <% for endorsement in @endorsements %>
    <li id="endorsement_<%= endorsement.id %>">
      <%= endorsement.quote %>
    </li>
  <% end %>
</ul>
<% end %>


<% if admin? %>
  <footer>
    <span class="pull-right footer-links">
      <%= admin_link_to "Add / Edit", edit_multiple_endorsements_path %>
    </span>
  </footer>
<% end %>
