<header class="page-header">
  <h1 class="page-heading text-center">Contact</h1>
</header>

<div id="github-contact-wrapper">
  <%= image_tag "gh_logo" %>
  <a href="https://github.com/garedean?tab=repositories" class="github-link" target="_blank">https://github.com/garedean</a>
</div>

<div id="message-contact-wrapper">
  Let's talk!<br>
  <%= form_tag '/contacts' do %>
    <%= text_field_tag :name, hide_label: true, placeholder: "Name" %>
    <%= text_area_tag :message, hide_label: true, placeholder: "Message" %>
    <%= submit_tag "Send" %>
  <% end %>
</div>
