<nav>

  <!-- <p id="sidebar-name">Garrett Olson</p> -->

  <%#= image_tag "portrait_1", class: "gravatar" %>
  <div class="gravatar"></div>

  <ul class="link-list">
    <li>
      <%= link_to 'About', about_path %>
    </li>
    <li>
    <li>
      <%= link_to 'Work', projects_path %>
    <li>
      <%= link_to 'Journal', blogs_path %>
    </li>
    <li>
      <%= link_to 'Resumé', resume_path %>
    <li>
    <li>
      <%= link_to 'References', endorsements_path %>
    </li>
  </ul>

  <p id="social-links-wrapper">
    <%= link_to "LinkedIn", "https://www.linkedin.com/in/garrettdeanolson", target: "_blank" %> /
    <%= link_to "Github", "https://github.com/garedean", target: "_blank" %> /
    <%= mail_to "garrett.olson@kindmind.com", "Email" %>
  </p>

</nav>
