<nav>

  <!-- <p id="sidebar-name">Garrett Olson</p> -->

  <img src="https://secure.gravatar.com/avatar/7a254dc3cc8520bcc04564a66073b3f9?size=110" class="gravatar">

  <ul class="link-list">
    <li>
      <%= link_to 'About', about_path %>
    </li>
    <li>
    <li>
      <%= link_to 'Work', projects_path %>
    <li>
      <%= link_to 'Journal', blogs_path %>
    </li>
    <li>
      <%= link_to 'Resumé', resume_path %>
    <li>
    <li>
      <%= link_to 'References', endorsements_path %>
    </li>
  </ul>

  <p id="social-links-wrapper">
    <%= link_to "LinkedIn", "https://www.linkedin.com/in/garrettdeanolson" %> /
    <%= link_to "Github", "https://github.com/garedean" %> /
    <%= mail_to "garrett.olson@kindmind.com", "Email" %>
  </p>

</nav>
