<nav>
  <img src="https://secure.gravatar.com/avatar/7a254dc3cc8520bcc04564a66073b3f9?size=110" class="gravatar">

  <ul class="link-list">
    <li>
      <%= link_to 'Garrett Olson', about_path %>
    </li>
    <li>
    <li>
      <%= link_to 'Work', projects_path %>
    <li>
      <%= link_to 'Journal', blogs_path %>
    </li>
    <li>
      <%= link_to 'References', endorsements_path %>
    </li>
    <!-- <li>
      <a href="https://github.com/garedean" target="_blank">Github</a>
    </li> -->
    <li>
      <%= link_to 'Contact', contact_path %>
    </li>
  </ul>

  <%= link_to new_user_session_path, class: "login-link" do %>
  <% end %>

  <span class="edit-logout-links">
    <% if user_signed_in? %>
      ADMIN | 
      <%#= link_to 'Edit profile', edit_user_registration_path %>
      <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
    <% end %>
  </span>
</nav>
