<nav>
  <div class="gravatar"></div>

  <ul class="link-list">
    <li>
      <%= link_to 'About', about_path, class: "#{controller.class == StaticPagesController && controller.action_name == 'about' ? 'selected' : ''}" %>
    </li>
    <li>
      <%= link_to 'Work', projects_path, class: "#{controller.class == ProjectsController ? 'selected' : ''}" %>
    <li>
      <%= link_to 'Journal', blogs_path, class: "#{controller.class == BlogsController ? 'selected' : ''}" %>
    </li>
    <li>
      <%= link_to 'Resumé', resume_path, class: "#{controller.class == StaticPagesController && controller.action_name == 'resume' ? 'selected' : ''}" %>
    <li>
    <li>
      <%= link_to 'References', endorsements_path, class: "#{controller.class == EndorsementsController ? 'selected' : ''}" %>
    </li>
  </ul>

  <p id="social-links-wrapper">
    <%= link_to "LinkedIn", "https://www.linkedin.com/in/garrettdeanolson", target: "_blank" %> /
    <%= link_to "Github", "https://github.com/garedean", target: "_blank" %> /
    <%= mail_to "garrett.olson@kindmind.com", "Email" %>
  </p>
</nav>
