<nav id="sidebar-wrapper">

  <div class="portrait"></div>

  <ul class="nav-links">
    <%= link_to about_path do %>
      <li class="<%= controller.class == StaticPagesController && controller.action_name == 'about' ? 'selected' : '' %>">
        About
      </li>
    <% end %>

    <%= link_to projects_path do %>
      <li class="<%= controller.class == ProjectsController ? 'selected' : '' %>">
        Work
      </li>
    <% end %>

    <%= link_to blogs_path do %>
      <li class="<%= controller.class == BlogsController ? 'selected' : '' %>">
        Journal
      </li>
    <% end %>

    <%= link_to resume_path do %>
      <li class="<%= controller.class == StaticPagesController && controller.action_name == 'resume' ? 'selected' : '' %>">
        Resumé
      </li>
    <% end %>

    <%= link_to endorsements_path do %>
      <li class="<%= controller.class == EndorsementsController ? 'selected' : '' %>">
        References
      </li>
    <% end %>
  </ul>

  <p id="social-links-wrapper">
    <%= link_to "LinkedIn", "https://www.linkedin.com/in/garrettdeanolson", target: "_blank" %> |
    <%= link_to "Github", "https://github.com/garedean", target: "_blank" %> |
    <%= mail_to "garrett.olson@kindmind.com", "Email" %>
  </p>
</nav>
