<nav>
  <img src="https://secure.gravatar.com/avatar/7a254dc3cc8520bcc04564a66073b3f9?size=110" class="gravatar">

  <ul class="link-list">
    <li>
      <%= link_to 'Garrett Olson', about_path %>
    </li>
    <li>
      <%= link_to 'Blog', blogs_path %>
    </li>
    <li>
      <%= link_to 'Projects', projects_path %>
    </li>
    <li>
      <a href="https://github.com/garedean" target="_blank">Github</a>
    </li>
  </ul>

  <span class="sign-in-up">
    <% if user_signed_in? %>
      Logged in as <strong><%= current_user.email %></strong>.
      <%= link_to 'Edit profile', edit_user_registration_path %> |
      <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to "Sign up", new_user_registration_path %> |
      <%= link_to "Login", new_user_session_path %>
    <% end %>
  </span>
</nav>



<!-- <% flash.each do |name, msg| %>
  <%= content_tag :div, msg, id: "flash_#{name}" %>
<% end %> -->
