<!DOCTYPE html>
<html>
<head>
  <title>Garrett Olson - Code Wizard</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <style>
    <%= yield(:custom_styles) %>
  </style>

  <!-- Use Google reCaptcha to prevent spam -->
  <script src='https://www.google.com/recaptcha/api.js'></script>
</head>

<body>

  <% flash.each do |key, value| %>
    <%= content_tag :div, value, class: "flash #{key}" %>
  <% end %>

  <%= render 'layouts/sidebar' %>

  <div class="content-container">
    <div class="fixed-column">
      <%= yield %>
    </div>
  </div>

</body>
</html>
