<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag 'favicon.ico' %>
    <title>Garrett Olson - Web Developer</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600' rel='stylesheet' type='text/css'>

    <style>
      <%= yield(:custom_styles) %>
    </style>
  </head>

  <body>

    <span class="edit-logout-links">
      <% if user_signed_in? %>
        ADMIN |
        <%#= link_to 'Edit profile', edit_user_registration_path %>
        <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
      <% end %>
    </span>

    <div class="top-stripe">
    </div>

    <% flash.each do |key, value| %>
      <%= content_tag :div, value, class: "flash #{key}" %>
    <% end %>

    <%= render 'layouts/sidebar' %>

    <div class="content-container">
      <div class="container">
        <%= yield %>
      </div>
    </div>

  </body>
</html>
