<!DOCTYPE html>
<html>
<head>
  <title>Garrett Olson - Code Wizard</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <style>
    <%= yield :custom_styles %>
  </style>

  <!-- Use Google reCaptcha to prevent spam -->
  <script src='https://www.google.com/recaptcha/api.js'></script>
</head>

<body>

  <div class="flash-wrapper">
    <% if flash[:notice] %>
    <p class="flash">
      <%= flash[:notice] %>
    </p>
    <% end %>
  </div>

  <%= render 'layouts/sidebar' %>

  <div class="content-container">
    <div class="fixed-column">
      <%= yield %>
    </div>
  </div>

</body>
</html>
