<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <%= favicon_link_tag 'favicon.ico' %>
    <title>Garrett Olson - Web Developer</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600' rel='stylesheet' type='text/css'>

    <link href='https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700' rel='stylesheet' type='text/css'>

    <style>
      <%= yield(:custom_styles) %>
    </style>
  </head>

  <body>
    <% flash.each do |key, value| %>
      <%= content_tag :div, value, class: "flash #{key}" %>
    <% end %>

    <span class="edit-logout-links">
      <% if user_signed_in? %>
        ADMIN |
        <%#= link_to 'Edit profile', edit_user_registration_path %>
        <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
      <% end %>
    </span>

    <div class="top-stripe">
    </div>

    <div id="content-container">
      <%= render 'layouts/sidebar' %>

      <div class="container">
        <span class="menu-toggle glyphicon glyphicon-menu-hamburger"></span>

        <%= yield %>
      </div>
    </div>

    <!-- Menu Toggle Script -->
    <script>
    $(".menu-toggle").click(function(e) {
        e.preventDefault();
        $("#content-container").toggleClass("nav-shown");
    });
    </script>

  </body>
</html>
