<!DOCTYPE html>
<html>
<head>
  <%= favicon_link_tag 'favicon.ico' %>
  <title>Garrett Olson - Code Wizard</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <style>
    <%= yield(:custom_styles) %>
  </style>

</head>

<body>

  <div class="top-stripe">
  </div>

  <% flash.each do |key, value| %>
    <%= content_tag :div, value, class: "flash #{key}" %>
  <% end %>

  <%= render 'layouts/sidebar' %>

  <div class="content-container">
    <div class="fixed-column">
      <%= yield %>
    </div>
  </div>

</body>
</html>
